<h1></h1>

<h2>Album Details</h2>

<p>Title: <%= @albums.title %></p>
<p>Artist: <%= @albums.artist.name %></p>
<p>Genre: <%= @albums.genre %></p>
<p>Quantity: <%= @albums.quantity %></p>
<p>Stock Level: <%= @albums.stock_level %></p>
<p>Buy Price: <%= @albums.buy_price %></p>
<p>Sell Price: <%= @albums.sell_price %></p>