<img class="vinyl" src="/images/ourvinylweighs.jpg" alt = "Our vinyl weighs a ton">
<h1>Crafty Barnardo Records</h1>

<h2>Update Record Details</h2>
<body>

  <form action="/albums/<%= @albums.id%>" method="POST">
  <div class="ipad grid-row grid-row-md">
    <div class="cell"><label for="title-field">Title: </label>

<input id="title-field" name="title" type="text" value="<%= @albums.title %>"></div>
    <div class="cell"><label for="artist-field">Artist: </label>

    <select id="artist-select" name="artist_id">
      <% for artist in @artists %>
          <option value="<%= artist.id %>"<%= "selected" if @albums.artist_id == artist.id %>><%= artist.name %></option>
          <% end %>
    </select>
    </div>
    <div class="cell"><label for="genre-field">Genre: </label>

<input type="text" id="genre-field" name="genre" value="<%= @albums.genre %>"></div>
  </div>
  <div class="ipad grid-row grid-row-lg">
    <div class="cell"><label for="buy_price-field">Buy Price:</label>

<input id="buy_price-field" type="number" name="buy_price" value="<%= @albums.buy_price %>"></div>
    <div class="cell"><label for="sell_price-field">Sell Price:</label>

<input id="sell_price-field" type="number" name="sell_price" value="<%= @albums.sell_price %>"></div>
    <div class="cell"><label for="quantity-field">Quantity: </label>
    
<input id="quantity-field" type="number" name="quantity" value="<%= @albums.quantity %>"></div>
    <div class="cell"><input class="button" type="submit" value="Update">
</div>
  </div>
</div>
  </form>
</body>
<footer>
<p class="foottext">Inventory Control System</p>
</footer>
