<img class="vinyl" src="/images/ourvinylweighs.jpg" alt = "Our vinyl weighs a ton">
<h1>Crafty Barnardo Records</h1>

<h2>Album Details</h2>
<body>

<div class="grid">
  <div class="grid-row grid-row-md">
    <div class="cell">Title: <%= @albums.title %></div>
    <div class="cell">Artist: <%= @albums.artist.name %></div>
    <div class="cell">Genre: <%= @albums.genre %></div>
  </div>
  <div class="grid-row grid-row-lg">
    <div class="cell">Buy Price: <%= @albums.buy_price %></div>
    <div class="cell">Sell Price: <%= @albums.sell_price %></div>
    <div class="cell">Quantity: <%= @albums.quantity %></div>
    <div class="cell">Stock Level: <%= @albums.stock_level %></div>
  </div>
</div>

<form action="/albums/<%= @albums.id %>/edit" method="get">
<input class="button showbut" type="submit" value="Edit"/>
</form>

<form action="/albums/<%= @albums.id %>/delete" method="post">
<input class="button showbut" type="submit" value="Delete"/>
</form>

</body>

<footer>
<p class="foottext">Inventory Control System</p>
</footer>