<h1>Crafty Barnardo Records</h1>

<h2>Album Details</h2>

<p>Title: <%= @albums.title %></p>
<p>Artist: <%= @albums.artist.name %></p>
<p>Genre: <%= @albums.genre %></p>
<p>Quantity: <%= @albums.quantity %></p>
<p>Stock Level: <%= @albums.stock_level %></p>
<p>Buy Price: <%= @albums.buy_price %></p>
<p>Sell Price: <%= @albums.sell_price %></p>

<form action="/albums/<%= @albums.id %>/edit" method="get">
<input class="button" type="submit" value="Edit"/>
</form>

<form action="/albums/<%= @albums.id %>/delete" method="post">
<input class="button" type="submit" value="Delete"/>
</form>
